/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


a{
 	text-decoration: none;
 	border:0;
 }
input[type="checkbox"]{
	float:left;
}
#search-field{
	float: left;
	margin: 5px 0 5px 200px;
}
#navbar-body{
	background-color: white;
	border-bottom: 2px solid orange;
	padding: 5px;
	margin: 0 auto;
	height: 40px
}
#navbar-body #logo{
	float: left;
	margin: -1px 10px 0 0;
}
#navbar-body #menu-right{
	margin: 5px;
	float: right;
}
#navbar-body #menu-right #name,.dropdown{
	margin:10px;
	float: left;
}
#navbar-body #menu-right #name{
	
	color:orange ;
}
#dropdown{
	float: right;
}
#conf-icon i{
	color:orange;
	border:0;
}
#conf-icon{
	text-decoration: none;
}
#menu-conf{
	margin: 2px -145px 0;
}
#modal-log-user{
	width: 300px;
}
#body-devise{
	margin: 100px auto;
	width: 270px;
	padding: 10px 20px;
	background:white;
	border: 1px solid #f3f3f3;
	border-radius:5px;

	-webkit-box-shadow:  2px 2px 10px 3px rgba(128, 128, 128, 0.35);
    box-shadow:  2px 2px 10px 3px rgba(128, 128, 128, 0.35);
}
#body-devise #submit{
	height: 32px;
}
#body-devise #submit input{
	bottom: 0;
	float: right;
}
#body-devise h3{
	color:gray;
}

#body-devise-form{
	margin: 10px auto;
	padding: 10px 20px;
	height: 560px;
	width: 600px;
	background:white;
	border: 1px solid #f3f3f3;
	border-radius:5px;

	-webkit-box-shadow:  2px 2px 10px 3px rgba(128, 128, 128, 0.35);
    box-shadow:  2px 2px 10px 3px rgba(128, 128, 128, 0.35);
}
#body-devise-form #submit{
	height: 32px;
}
#body-devise-form #submit input{
	margin-top: 20px;
	float: right;
}
#body-devise-form h3{
	color:gray;
}

#form-left{
	float:left;
	width: 280px;
}
#form-right{
	margin-left: 20px;
	width: 280px;
	float: left;
}

#foother{
	height: 50px;
	width: 50px;
	color: orange;

}